.code-editor-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: 'Manrope', sans-serif;
    padding: 20px;
    height: 80vh;
    font-size: 1.7em;
}

.editor-wrapper {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

.run-code-button {
    margin-top: 20px;
    background: none;
    border: none;
    color: #666;
    font-size: 1em;
    cursor: pointer;
    padding: 10px 20px;
    font-family: 'Manrope', sans-serif;
}

.run-code-button:hover {
    color: black;
}

.output {
    margin-top: 20px;
    width: 100%;
    max-width: 600px;
    font-size: 1em;
}

.code-editor-container .run-button {
    background: none;
    border: none;
    color: #666;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
    font-family: 'Manrope', sans-serif;
}

.code-editor-container .run-button:hover {
    color: black;
}