.code-editor-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: 'Manrope', sans-serif;
    padding: 20px;
    height: 80vh;
    /* Adjust height to raise the elements higher */
    font-size: 1.7em;
    /* Make everything a bit bigger */
}

.editor-wrapper {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

.run-code-button {
    margin-top: 20px;
    /* Move the button down a bit */
    background: none;
    border: none;
    color: #666;
    font-size: 1em;
    cursor: pointer;
    padding: 10px 20px;
    font-family: 'Manrope', sans-serif;
    /* Ensure consistent font */
}

.run-code-button:hover {
    color: black;
}

.output {
    margin-top: 20px;
    width: 100%;
    max-width: 600px;
    /* Match width of code editor */
    font-size: 1em;
    /* Ensure the output font size is consistent */
}

/* src/components/CodeEditor.css */

.code-editor-container .run-button {
    background: none;
    border: none;
    color: #666;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
    font-family: 'Manrope', sans-serif;
}

.code-editor-container .run-button:hover {
    color: black;
}