/* src/App.css */
body {
  margin: 0;
  font-family: 'Manrope', sans-serif;
  background-color: #f7f7f7;
  color: #333;
}

.App {
  position: relative;
}

.navigation-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.progress-bar {
  display: flex;
  width: 80%;
  margin-bottom: 10px;
}

.progress-segment {
  flex-grow: 1;
  height: 5px;
  background-color: lightgray;
  margin: 0 2px;
}

.progress-segment.active {
  background-color: gray;
}

.navigation-text {
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.navigation-link {
  text-decoration: none;
  color: lightgray;
  font-size: 14px;
}

.navigation-link:hover {
  color: black;
}

.content-container {
  padding: 20px;
}